html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
}

.image {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}

.section-details {
    background-color: #f8f9fa;
    border-left: 2px solid #343a40;
    padding: 20px;
    color: #111;
}

.section-commentaires {
    background-color: #f8f9fa;
    border-top: 2px solid #343a40;
    padding: 20px;
    color: #111;
}

.section-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contenu-details {
    flex-grow: 1;
}

.boutons {
    margin-top: auto;
}

.footer {
    background-color: #222;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
    color:#fff;
    width: 100%;
}