body {
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    margin-bottom: 30px;
}

.thumbnail {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

.thumbnail img {
    width: 100%;
    border-radius: 10px;
}

.featured {
    background: no-repeat center center;
    background-size: cover;
    height: 500px;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    padding-bottom: 20px; /* Ajout pour barre de recherche */
}

.featured h1 {
    font-size: 4em;
    margin-bottom: 20px; /* Ajout pour barre de recherche */
}

.w-100 {
    width: 1500px;
    height: 500px;
    border-radius: 10px;
}

.vh-100 {
    color: black;
}

.footer {
    background-color: #222;
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
    color:#fff;
}

.row{
    margin-top: 2%;
}

.listefilms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listeseries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filters {
    background-color: #fac57a;
    color: #111;
    height: 40%;
    padding-right: 0px;
    padding-bottom: 1%;
    margin-right: 0px;
    border-radius: 2%;
}


.filters-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}

.note-container {
    display: flex;
    align-items: start;
    gap: 10px;
}

.note-container label {
    margin-right: 0px;
}

.form-inline .form-control-range {
    width: 60%;
}

.datesortiedebut {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 2%;
}

.datesortiefin {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 2%;
}

.filtersearchbutton {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.card-title {
    color:black;
}

#searchResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 100%;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
}

#searchResultsHomePage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; 
    position: absolute;
    top: 100%;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
}

.searchbar {
    position: relative;
}

.searchbarseries {
    position: relative;
}

.searchbarfilms {
    position: relative;
}

#searchResultsSeries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 100%;
    width: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 999;
    max-height: 300px;
    overflow-y: auto;
}

table tr {
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  table tr:hover {
    background-color: #e6e6e6;
  }

#show-more-button {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2%;
}

#searchInputHomePage {
    margin-left: 1%;
}

#searchInput {
    margin-left: 1%;
}

#searchInputSeries {
    margin-left: 1%;
}


